@model Shopping.Admin.Models.DepartamentoViewModel
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_LayoutLojista.cshtml";
}
<div id="box-products">
    <div class="Box-Identificacao">
    <h1>Cadastro de Departamento</h1>
        </div>
    <br /><br /><br /><br />
    <form action="/Lojista/Departamento/Salvar" method="post">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.DataDaInclusao)
	<div class="divForm">
		<label>NOME DO DEPARTAMENTO:</label>
		@Html.TextBoxFor(model => model.Nome, new { @class = "campo" })
		<label>SELECIONE AS CATEGORIAS:</label>
		@Html.ListBoxFor(x => x.CategoriaSelecionadas, new MultiSelectList(new Shopping.InfraEstrutura.DAO.DAOCategoria().Listar(), "Id", "Nome"), new { @class = "textarea" })
		<label>DESCRIÇÃO:</label>
		@Html.TextAreaFor(model => model.Descricao, new { @class = "campo textarea" })
        <br /><br />
        @Html.CheckBoxFor(model => model.Ativo, new { @checked = "checked"}) &nbsp; Ativo
        <input type="submit" class="btn-AddCar Btn_End btnEnt btn-Form" value="Cadastrar" />
        <br /><br /><br />
	</div>
     </form>
</div>

