@model Shopping.Dominio.Entidades.FormaPagamento
@{
	ViewBag.Title = "Form";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div id="box-products">
	<div class="Box-Identificacao">
		<h1>Cadastro de Formas de Pagamento</h1>
	</div>
	<br />
	<br />
	<br />
	<br />
	<form action="/Admin/FormaPagamento/Salvar" method="post">
		@Html.HiddenFor(model => model.Id)
		@Html.HiddenFor(model => model.DataDaInclusao)
		<div class="divForm">
			<label>NOME DA FORMA:</label>
			@Html.TextBoxFor(model => model.Nome, new { @class = "campo" })
			<label>DESCONTO (%):</label>
			@Html.TextBoxFor(model => model.PorcentagemDesconto, new { @class = "campo_pequeno", @alt = "decimal" })
			<br />
			<br />
			@Html.CheckBoxFor(model => model.Ativo, new { @checked = "checked" }) &nbsp; Ativo
		<input type="submit" class="btn-AddCar Btn_End btnEnt btn-Form" value="Cadastrar" />
			<br />
			<br />
			<br />
		</div>
	</form>
</div>

