@model Shopping.Dominio.Entidades.Pagina
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_LayoutLojista.cshtml";
}
<div id="box-products">
    <div class="Box-Identificacao">
    <h1>Cadastro de Página</h1>
        </div>
    <br /><br /><br /><br />
    <form action="/Lojista/Pagina/Salvar" method="post">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.DataDaInclusao)
	<div class="divForm">
		<label>TÍTULO:</label>
		@Html.TextBoxFor(model => model.Titulo, new { @class = "campo" })
		<label>TÍTULO CURTO:</label>
		@Html.TextAreaFor(model => model.TituloCurto, new { @class = "campo textarea" })
		<label>CHAMADA:</label>
		@Html.TextAreaFor(model => model.Chamada, new { @class = "campo textarea" })
		<label>CONTEÚDO:</label>
		@Html.TextAreaFor(model => model.Conteudo, new { @class = "campo textarea" })
        <br /><br />
        @Html.CheckBoxFor(model => model.Ativo, new { @checked = "checked"}) &nbsp; Ativo
        <input type="submit" class="btn-AddCar Btn_End btnEnt btn-Form" value="Cadastrar" />
        <br /><br /><br />
	</div>
     </form>
</div>

